body {
  background: rgb(204,204,204); 
  width: 25cm;
  height: 29.7cm;
  margin: 0 auto;
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  position: relative;
}

page[size="A4"] {  
  width: 25cm;
  height: 29.7cm; 
}

@page {
  size: 25cm 29.7cm;
  margin: 0mm;
}