body {
  background: rgb(255, 255, 255);
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  padding: 2cm;
}

#job-titles {
  flex: 1;
}

#dates {
  text-align: right;
  flex-shrink: 0;
  padding-left: 20px;
}

.add-exp {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px; 
}

.pho-span {
  flex: 1;
  font-weight: bold;
}

.loc-span {
  flex: 1;
  font-weight: bold;
}

.email-span {
  font-weight: bold;
}

.job-titles {
  flex: 1;
  font-weight: bold;
}

.dates {
  font-weight: bold;
}

.names {
  font-weight: bold;
}

h1 {
  font-weight: bold;
  margin-bottom: 10px; /* Adjusted margin */
  text-align: center;
}

h4 {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 3px; /* Adjusted margin */
}

ul {
  margin-top: 5px; 
}

.add-exp .container {
  display: flex;
  justify-content: space-between;
}

.add-exp li.container {
  display: list-item;
  list-style-position: inside;
  padding-left: 0;
  margin-bottom: 0px; 
}

#job-titles, #dates {
  display: inline-block;
}

.page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px; 
  width: 21cm;
  height: 29.7cm;
}

@page {
  size: A4; 
  margin: 0mm;
}